.error
{
    color:red;
}


#forgot{
    color:#e597bf
}
#sign-up{
    color: #e597bf;
}
#background{
    background:rgb(229,151,191) !important;
}
#add-user-position{
    position: absolute;
    left: 0;
    right: 0;
    top:20%;
}
#edit{
    position: absolute;
    left: 0;
    right: 0;
    top:20%;
}
#edit_img{
    height: 60px;
    width:60px;
}
#keys{
    
    height: 60px;
    width:80px;
}
#resident-edit{
    position: absolute;
    left: 0;
    right: 0;
    top:20%;
}
#get-resident{
    position: absolute;
    left: 0;
    right: 0;
    top:20%;
}
#payment-method{
    position: absolute;
    left: 0;
    right: 0;
    top:18%;

}
#expense-create{
    position: absolute;
    left: 0;
    right: 0;
    top:20%;
}
#add_user_id{
    border-left: 1px solid lavender;
 }
 
 .add-user-image  {
    background: beige !important;
}
 #heading-edit{
    background-color: beige;
 }
 #get-house{
    background-color: beige;
 }
 .edit-resident{
    background-color: beige;

 }
 #payment-heading{
    background-color: beige;

 }
#expense-heading{
    background-color: beige;
}

#row1,#row2,#row3{
    border-bottom: 1px solid aqua;
}
 
 .receipt-main{
    margin: 0 auto !important;
    border: 1px solid black;
 }
 .bottom-border{
    height: 30px;
    background-color: aqua;
 }
 .month {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px 80px;
}


@media screen and (max-width:1280px) {
    


}




@media screen and (max-width:1200px) {

    #login{
        display: block;
      }
    #login-form{
        margin: 0 auto;
        padding: 0;
    }
    .navbar-expand-lg .navbar-nav{
        display: none;
    }
   
}




@media screen and (max-width:992px) {
    
    .side-image {
        margin: 0;
         padding: 0;
    }
  #login-form{
        width: 500px;
        margin: 0 auto;
        padding:0;
    }
}
@media screen and (max-width:700px) {
    #login-height{
        width: 100%;
        height: 500px;
    }
    .side-image img{
        margin: 0px;
        width: 100%;

    }
    #login{
        width: 100%;
        padding: 10px;        max-width: 450px;

    }
    #login-form{
        max-width: 500px;
        width: inherit !important;
        padding: 0;
        margin: 0;

    }
}
@media screen and (max-width:520px) {
    #background{
        background-color:transparent !important;
        background-image:url('./bg-mobile.webp') !important;
     }
    #login{
        min-height: 500px;
    }
    .side-image{
        display: none;
    }
      
}


@media screen and (max-width:460px) {
    #login-height{
         padding: 5px;
    }
}