.error
{
    color:red;
}


#forgot{
    color:#e597bf
}
#sign-up{
    color: #e597bf;
}
#background{
    background:rgb(229,151,191) !important;
}
#add-user-position{
    position: absolute;
    left: 0;
    right: 0;
    top:20%;
}
#edit{
    position: absolute;
    left: 0;
    right: 0;
    top:20%;
}
#edit_img{
    height: 60px;
    width:60px;
}
#keys{
    
    height: 60px;
    width:80px;
}
#resident-edit{
    position: absolute;
    left: 0;
    right: 0;
    top:20%;
}
#get-resident{
    position: absolute;
    left: 0;
    right: 0;
    top:20%;
}
#payment-method{
    position: absolute;
    left: 0;
    right: 0;
    top:10%;

}
#expense-create{
    position: absolute;
    left: 0;
    right: 0;
    top:20%;
}
#add_user_id{
    border-left: 1px solid lavender;
 }
 #add-user-logo{
    background-color: beige;
 }
 #heading-edit{
    background-color: beige;
 }
 #get-house{
    background-color: beige;
 }
 .edit-resident{
    background-color: beige;

 }
 #payment-heading{
    background-color: beige;

 }
#expense-heading{
    background-color: beige;
}
@media screen and (max-width:1200px) {

    #login{
        display: block;
      }
    #login-form{
        margin: 0 auto;
        padding: 0;
    }

}




@media screen and (max-width:992px) {
    
    .side-image {
        margin: 0;
         padding: 0;
    }
  #login-form{
        width: 500px;
        margin: 0 auto;
        padding:0;
    }
}